node_modules/
# Config folder
config/default.json
config/production.json
config/transporter.js
config/creds.js

# Config folder
/burgerdenwbs/build

/burgerdenwbs/.env.local
/burgerdenwbs/.env.development.local
/burgerdenwbs/.env.test.local
/burgerdenwbs/.env.production.local

npm-debug.log*